

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: left;
   padding:15px;
   padding-left: 30px;
}

.bg {
z-index: 100;
width: 100vw;
position: fixed;

}

.blur {
-webkit-backdrop-filter: blur(0px);
}

.hue_1 {
  -webkit-backdrop-filter: blur(0px);
  /* background: rgba(0, 0, 0, 0.0); */
  backdrop-filter: blur(0px) hue-rotate(180deg) opacity(100%) brightness(500%);
  height: 50vh;

}

.hue_2 {
  -webkit-backdrop-filter: blur(0px);
  /* background: rgba(0, 0, 0, 0.0); */
  backdrop-filter: blur(0px) hue-rotate(90deg) opacity(100%) brightness(500%);
  height: 50vh;

}

.hue_3 {
  -webkit-backdrop-filter: blur(0px);
  /* background: rgba(0, 0, 0, 0.0); */
  backdrop-filter: blur(0px) hue-rotate(270deg) opacity(100%) brightness(500%);
  height: 50vh;

}


.hue_4 {
  -webkit-backdrop-filter: blur(0px);
  /* background: rgba(0, 0, 0, 0.0); */
  backdrop-filter: grayscale(100%) brightness(1000%);
  height: 50vh;

}


.inverse {
  backdrop-filter: grayscale(100%) brightness(1000%) invert(100%);
  /* height: 50vh; */


}

.copy_1 {
/* width: 40vw; */
color: white;
background: rgba(0, 0, 0, 0.1);
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(0px) hue-rotate(30deg);
margin-left: 25%;
margin-right: 25%;
position: relative;
z-index: 10000;
padding: 23px;
font-size: 23px;
font-family: sans-serif;
position: relative;
}

.copy_2 {
  /* width: 40vw; */
  color: white;
  background: rgba(0, 0, 0, 0.0);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px) hue-rotate(90deg);
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  z-index: 10000;
  padding: 23px;
  font-size: 23px;
  font-family: sans-serif;
  position: absolute;
  }


.behind {
  z-index: -100;
  /* background-color: gray; */
  position: relative;
  padding: 0px;
  marin: 0px;

}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: white;
  text-decoration: underline;
}





/* svg {
  padding: 0;
  margin: 0;
  display: contents;
} */

/* div {
  padding-top: 0;
  padding-bottom: 0;
} */


/* ul {
  margin: 0px;
  padding: 0px;

} */
